In [73]:
import sqlalchemy as sa
from utils import query, engine, catalog
import polars as pl
pl.Config.set_fmt_str_lengths(50)

polars.config.Config

In [30]:
import sqlalchemy as sa

dim_address_sql = """
CREATE OR REPLACE TABLE house_prices.dim_address 
    WITH ( partitioning = ARRAY['bucket(address_id, 10)'] )
    AS (
    SELECT DISTINCT to_hex(md5(cast(
        coalesce(paon, '') ||
        coalesce(saon, '') ||
        coalesce(street, '') ||
        coalesce(locality, '') ||
        coalesce(town, '') ||
        coalesce(district, '') ||
        coalesce(county, '') ||
        coalesce(postcode, '')
    as varbinary))) AS address_id,
      paon,
      saon,
      street,
      locality,
      town,
      district,
      county,
      postcode
FROM house_prices.raw)
"""

In [31]:
fct_prices_sql = """
CREATE OR REPLACE TABLE house_prices.fct_house_prices
    WITH ( partitioning = ARRAY['month(date_of_transfer)'] ) AS (
        WITH ranked_records AS (
            SELECT *,
            ROW_NUMBER () OVER (PARTITION BY transaction_id ORDER BY month(date_of_transfer) DESC) AS rn
            FROM house_prices.raw
    ),
    latest_records AS (
        SELECT *
        FROM ranked_records
        WHERE rn = 1
    ),
    with_address_id AS (
        SELECT to_hex(md5(cast (
                coalesce(paon, '') ||
                coalesce(saon, '') ||
                coalesce(street, '') ||
                coalesce(locality, '') ||
                coalesce(town, '') ||
                coalesce(district, '') ||
                coalesce(county, '') ||
                coalesce(postcode, '')
            as varbinary))) AS address_id,
                transaction_id,
                price,
                date_of_transfer,
                property_type,
                new_property,
                duration,
                ppd_category_type,
                record_status
        FROM latest_records
        WHERE record_status != 'D' and ppd_category_type = 'A'
    )
    SELECT *
    FROM with_address_id
    )
"""

In [32]:
with engine.begin() as conn:
    num_rows_dim_address = conn.execute(sa.text(dim_address_sql)).fetchone()[0]
    num_rows_fct_prices = conn.execute(sa.text(fct_prices_sql)).fetchone()[0]

print(f"Created dim_address with {num_rows_dim_address:,} rows")
print(f"Created fct_prices with {num_rows_fct_prices:,} rows")

Created dim_address with 7,498,409 rows
Created fct_prices with 7,592,564 rows

In [47]:
fct_house_prices_t = catalog.load_table("house_prices.fct_house_prices")

In [61]:
polars_result = (
    pl.scan_iceberg(fct_house_prices_t)
    #.join(sold_address_ids, on="address_id", how="inner")
    .sort("date_of_transfer").group_by("address_id", maintain_order=True).agg(
        pl.col("date_of_transfer").first().alias("first_day"),
        pl.col("date_of_transfer").last().alias("last_day"),
        pl.col("price").first().alias('first_price'),
        pl.col("price").last().alias("last_price"),
        (pl.col("price").last() - pl.col("price").first()).alias("profit")   
    ).filter(pl.col("first_day") != pl.col("last_day"))
    .collect()
)
polars_result

shape: (953_001, 6)
┌─────────────────────────────────┬────────────┬────────────┬─────────────┬────────────┬────────┐
│ address_id                      ┆ first_day  ┆ last_day   ┆ first_price ┆ last_price ┆ profit │
│ ---                             ┆ ---        ┆ ---        ┆ ---         ┆ ---        ┆ ---    │
│ str                             ┆ date       ┆ date       ┆ i32         ┆ i32        ┆ i32    │
╞═════════════════════════════════╪════════════╪════════════╪═════════════╪════════════╪════════╡
│ 523E32EA157C4EC2AD34B9F4E5AA59… ┆ 2015-01-01 ┆ 2024-09-20 ┆ 83000       ┆ 242500     ┆ 159500 │
│ D1E83E822AB222D7C60CA95A822A98… ┆ 2015-01-01 ┆ 2023-01-06 ┆ 80000       ┆ 90000      ┆ 10000  │
│ CE5328CF989858FC5D7ED07716F6F8… ┆ 2015-01-01 ┆ 2021-12-17 ┆ 296250      ┆ 358000     ┆ 61750  │
│ 7BC097DC2832C45EBE135BCF913A17… ┆ 2015-01-01 ┆ 2015-08-20 ┆ 110000      ┆ 146000     ┆ 36000  │
│ 03FC21590BEBD40929851C44DC9366… ┆ 2015-01-01 ┆ 2024-02-19 ┆ 80000       ┆ 194000     ┆ 114000 │
│ …                               ┆ …          ┆ …          ┆ …           ┆ …          ┆ …      │
│ AB3539A7D8A553CD88D296C421D1A3… ┆ 2024-10-30 ┆ 2024-11-29 ┆ 435000      ┆ 800000     ┆ 365000 │
│ A6650BAD4B0F5041B7FBC254F780D1… ┆ 2024-10-31 ┆ 2024-11-22 ┆ 110000      ┆ 119950     ┆ 9950   │
│ 809A689F9994FE55DEBB2E751DCD49… ┆ 2024-11-01 ┆ 2024-12-20 ┆ 147500      ┆ 172500     ┆ 25000  │
│ CBCB718361AC3FCE9C880CB9FAAFDE… ┆ 2024-11-28 ┆ 2024-11-29 ┆ 800000      ┆ 800000     ┆ 0      │
│ F209C49CC29D975BAFFEE1F5B152A6… ┆ 2024-12-05 ┆ 2024-12-06 ┆ 190000      ┆ 190000     ┆ 0      │
└─────────────────────────────────┴────────────┴────────────┴─────────────┴────────────┴────────┘

In [53]:
trino_df = query("""
WITH first_prices AS (
    SELECT 
        address_id, 
        price AS first_price,
        ROW_NUMBER() OVER (PARTITION BY address_id ORDER BY date_of_transfer) AS rn
    FROM house_prices.fct_house_prices
),
last_prices AS (
    SELECT 
        address_id, 
        price AS last_price,
        ROW_NUMBER() OVER (PARTITION BY address_id ORDER BY date_of_transfer DESC) AS rn
    FROM house_prices.fct_house_prices
),
address_ids AS (
    SELECT DISTINCT address_id 
    FROM house_prices.fct_house_prices
)
SELECT 
    a.address_id,
    f.first_price,
    l.last_price,
    l.last_price - f.first_price as profit
FROM address_ids a
JOIN first_prices f ON f.address_id = a.address_id AND f.rn = 1
JOIN last_prices l ON l.address_id = a.address_id AND l.rn = 1
WHERE first_price != last_price
""")

In [55]:
(
    polars_result.select(
        pl.col("address_id"), 
        pl.col("first_price"),
        pl.col("last_price"),
        pl.col("profit").alias("pl_profit")
    )
        .join(
            trino_df.select(
                pl.col("address_id"),
                pl.col("first_price"),
                pl.col("last_price"),
                pl.col("profit").alias("trino_profit")
            ), on="address_id", how="full")
        .filter(pl.col("pl_profit") != pl.col("trino_profit"))
        .select("address_id").to_series(0).to_list()
)

['79BB49ACA3FE0C605577A2074CD56809',
 '9772E37986862F846B870387916A2737',
 '31AF428411C23EA038B69B8DA892BF2D',
 '5761FBB2C75E40B81E7807B08A9C660B',
 '713F4B7BCD38B6A4353BEF0E14E1EDD6',
 '90E3266AEAE18E87EEFC4113E1A6EF36',
 '03FC97AF7DEC446F33F4E396710774BF',
 'EE7FD15C29D3E13585166D956F84EE4D',
 '66CBF8557B4297420D6A350DB7D891E0',
 'AE1F750B14E3E60B53EADD970A72E0D6',
 'B96B1DB1D20B28371F1F085F083F982D',
 '53EF34E033E27A65D002DA6E0AFF02F4',
 '56DA64BA4B25645D1867D7113FE3298E',
 '8EA1FD31C16ED5F3297801BFC51BD888',
 '0DA0EA865DAE8D7678D055EAF0988D65',
 'DFF079741B290D0FA041FCF040B88449',
 '4DDD2D3E8AF1B04874F3747C5F5191D9',
 '0AE4ED8E66DDC9BB674ABA9695F828FF',
 '07A5AAEDA2EA4BCC15D0787B9744A4CF',
 '37BEA26FB598442AB4ACCB2E355F2992',
 'C22320ACE9007E5B7A6C2F9F6FF23900',
 '2542908E8092D2DD1D3D2C1EB6E9A10E',
 'A20439D54C70D4D5E9F2A75D2548B94B',
 'A316214BB9E8635EDF6F6914B561C700',
 '0C45D3E18EC20C34D35A3836957EBC76',
 '0B479F68D2A3E6708F092E9220F84458',
 'D53D612F35ACBAA557E784C676B87B29',
 '6B2BBDACFF063570170E11B852E44888',
 '947F980601034F38A927D9BB5BF2B30C',
 '81E361F9CDCDB0485666A9DBA056E02A',
 '88EBDBD5B7BDD5E72C4BE28E230424E3',
 '216BF4FF3B25AACA3B9C4FAB3BE1FE09',
 '6AD4B2A89DF00DB33C3299CAEFFD7DC8',
 'D3D2B8A4D109224598DBC25F1DC1EA2E',
 'DC88F4C84A6BB03DE358F1BE2DD5D4F9',
 'C0B4978C7E218310FD1204BAB8316E44',
 'EC9AC2FCDBD09BDB3949CB3F952CF7F2',
 '32A190DF76F29578B0F4366117D4EA3A',
 'CBFA1E73C6E9415369EBECB6973360A6',
 '08E0BC193E11A956E872E6EC2DA0928A',
 '9491F295DB70C1D79FFFD70088891A87',
 '7ECC10BAADEE52FFD5D917DE0F4FA723',
 '90C9280E424D2EEE350F496CBEBBD6F8',
 '6AA5E06C20879B84346A2BE0727E7911',
 '3987B66B6306970B750D214B20EFCC5B',
 '9AEEBEBE7C6B24CD597357362E73CEA8',
 '7501C8463A7BAA510A71EF2654C8948B',
 '048F312B2134DA460DF7D9D8D3273ACE',
 '1EC1AD96347435A95C103BD1EA26C9C2',
 'BC8FEF99E02EDA88D6ECC35380464FFC',
 '55F20C5B448A86E4EC14172185EA93E5',
 '2E626B2D5F0A328451F68B40C06CD5E2',
 '050C2A230523C2FB9EE26298F650558A',
 '35A809523B2D785197CBD8F44EFA92A6',
 'D1154BD479845EB16564C83BFB6EF229',
 '1F9E356EF2AE266638F2ED1150C83282',
 '16C4F284971CFB28CC295B1287FFFFF8',
 'D517899C6DB592868C8952B4F56BB3DA',
 '87A2DB1BB1A3E41F03F282769604B46F',
 '460907EE73CC9F16FC28E4830617C779',
 '78E200EEB77BA05C53CDF284BE79F07F',
 'CA23C114152DC83FBD5C02F9381CEB89',
 '36A7B3E925997C4E2A10C7E6F8E193BB',
 '93D1BE67CF5FBFCEE4D38726E972AACF',
 '2CCE1CBABC8B789EC04774BEA14E3630',
 '954B689D3BC882D1D26D78728E97E492',
 'C5B07DDAC1EF44F7035961D58551FC75',
 '9C1444BD6871959B1B03055085FA72B9',
 '67D22C38901CA1B3C48D4895F05BB38A',
 '66280363F981FA23E1CF456F58157610',
 '93F749F13FBDF5040CF844EF7F8E755B',
 'EED2D97585986D579E45B21A4BB90FA9',
 '619E25841AC528691B8D2BA4720C957A',
 '2E262D65AB5DE37A027D0ACB0D52DAB8',
 'E68D72D1645DABC14F117E8A49B5AB4B',
 '34110A1363A5E5AEC38E45475BEACC94',
 '505520D06C2E95ACBC261F8A3C6BFBB7',
 '607876D568D78194B426430D6CA65009']

In [47]:
query("""
with partitioned_prices as (
    SELECT 
        address_id, 
        price,
        date_of_transfer,
        MIN(date_of_transfer) OVER (PARTITION BY address_id) AS min_date,
        MAX(date_of_transfer) OVER (PARTITION BY address_id) AS max_date
    FROM house_prices.fct_house_prices),
first_and_last as (
SELECT 
    address_id,
    MIN(price) FILTER (WHERE date_of_transfer = min_date) AS first_price,
    MAX(price) FILTER (WHERE date_of_transfer = max_date) AS last_price
FROM partitioned_prices
GROUP BY address_id
)
select * from first_and_last where first_price != last_price
""")

shape: (1_198_364, 3)
┌─────────────────────────────────┬─────────────┬────────────┐
│ address_id                      ┆ first_price ┆ last_price │
│ ---                             ┆ ---         ┆ ---        │
│ str                             ┆ i64         ┆ i64        │
╞═════════════════════════════════╪═════════════╪════════════╡
│ 00006B5897C5BB86759B556B52157C… ┆ 108000      ┆ 124000     │
│ 0000745F4634817B95572CB1756C94… ┆ 29000       ┆ 40000      │
│ 000091C535F9756E2D6582B40FAFEB… ┆ 230000      ┆ 277000     │
│ 000093AFECB41A4DBFBE332F1EC2FB… ┆ 361750      ┆ 435000     │
│ 0000A07625D3F4D73A89F33BA99239… ┆ 100000      ┆ 105000     │
│ …                               ┆ …           ┆ …          │
│ FFFD3478554CD9C5DA63BAFB3B42E8… ┆ 186915      ┆ 301450     │
│ FFFD45E32BD27F0642CAB14CF7F218… ┆ 475000      ┆ 451000     │
│ FFFDED4D01596AFB92B956E66DD5B7… ┆ 87500       ┆ 85000      │
│ FFFF70E31671842771963D9E5B3849… ┆ 61000       ┆ 100000     │
│ FFFFF0725BF762C4271855C91B6125… ┆ 131500      ┆ 141500     │
└─────────────────────────────────┴─────────────┴────────────┘